{% extends "base.html" %} {% block title %}Item{% endblock %}

{% block content%}
<div class="album py-5 bg-light">
    <h1 align="center">{{ current_item.name }}</h1>
    <div class="container">
        <p>{{ current_item.desc }}</p>
        <p>
          {% for topping in current_item.toppings %}
          <input type="checkbox" id="id_{{topping}}" name="toppings" value="{{topping}}">
          <label for="id_{{topping}}">{{ topping }}</label><br>
          {% endfor %}
        </p>
        <form action="{{url_for('views.getcart')}}" method="POST">
          <input type="hidden" name='item_id' value={{current_item.id}}>
          {% if current_user.is_authenticated %}
          <button type="submit" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
          {% endif %}
          </select>
      </form>
       
  </div>

{% endblock %}