{% extends "base.html" %} {% block title %}Item{% endblock %}
{% block cart %}{{rows}}{% endblock %}
{% block content%}

<div class="album py-5 bg-light">
    <h1 align="center">{{ current_item.name }}</h1>
    <div class="container">
        <p>{{ current_item.desc }}</p>
        <p>
          {% for topping in current_item.toppings %}
          <input type="checkbox" id="id_{{topping}}" name="toppings" value="{{topping}}">
          <label for="id_{{topping}}">{{ topping }}</label><br>
          {% endfor %}
        </p>
        
        <form method="POST">
          <div class="form-group">
            <label for="name"></label>
            <input 
            type="hidden"
            id="name" 
            name="name" 
            value="{{current_item.name}}"
            />
          </div>
          
          <div class="form-group">
            <label for="price"></label>
            <input
            type="hidden"
            id="price"
            name="price"
            value="{{current_item.price}}"
            />
          </div>

          <div class="form-group">
            <label for="quantity"></label>
            <input
            type="hidden"
            id="quantity"
            name="quantity"
            value="{{1}}"
            />
          </div>
          
          {% if current_user.is_authenticated %}
          <button type="submit" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
          {% endif %}
      </form>
    </div>
</div>
{% endblock %}