{% extends "base.html" %} {% block title %}Cart{% endblock %}
{% block cart %}{{rows}}{% endblock %}

{% block content%}

<form method="POST" enctype="multipart/form-data">
    <br/>
    <h3>Options</h3>
    
    <div class="form-group">
      <label for="name">Option name</label>
      <input
        type="name"
        class="form-control"
        id="name"
        name="name"
        placeholder="Option name"
      />
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="price"
        class="form-control"
        id="price"
        name="price"
        placeholder="Additional price"
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="description"
        class="form-control"
        id="description"
        name="description"
        placeholder="description"
      />
    </div>

    <div class="form-group">
      <label for="category">Category Name</label>
      <select name="category" class="form-control" id="category">
        <option value="1">Pizza</option>
        <option value="2">Sides</option>
        <option value="3">Desserts</option>
        <option value="4">Drinks</option>
      </select>
    </div>

    <br/><button type="submit" class="btn btn-primary">Add Item</button>
</form>

<br/><br/>

<h3>Remove Option</h3>
<br/>
<div class="row gx-4 gx-lg-5">
  {% for i in options %}
  <div class="col-md-4 mb-5">
      <div class="card h-100">
          <div class="card-body">
              <h2 class="card-title">{{i.name}}</h2>
              <p class="card-text">{{i.price}} </p>
              <p class="card-text">{{i.description}}</p>
          </div>
          <div class="card-footer"><a class="btn btn-primary btn-sm" href="{{ url_for ('admin.remove_option', id=i.id) }}">remove option</a></div>
      </div>
  </div>
  {% endfor %}
</div>

<br/><br/>


{% endblock %}
