{% extends "base.html" %} {% block title %}Current Orders{% endblock %}
{% block cart %}{{rows}}{% endblock %}
{% block content%}

<h3>Choose Order Type</h3>
  <br/>
  <div class="row gx-4 gx-lg-5">
    {% for i in orderTypes %}
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">As {{i}}</h2>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#">Start Order</a></div>
        </div>
    </div>
    {% endfor %}
  </div>
  <br/><br/>
{% endblock %}